<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Change Password</title>
    <style>
        .content {
            max-width: 600px;
            margin: auto;
            padding: 10px;
        }
    </style>
</head>

<body>
    {% if action == 'confirming' %}
    <div class="content">
        <h3>Change password - Naxa App</h3><br>
        <form class="form-signin post-form" action="{% url 'reset_password' uidb64=uidb64 token=token %}" method="POST">
            {% csrf_token %}
            <div class="form-group form-outline mb-4">
                <input type="password" name="new_password" id="new_password" class="form-control pwd" required/>
                <label class="form-label" for="new_password">New Password</label>
            </div>

            <div class="form-group form-outline mb-4">
                <input type="password" name="confirm_password" id="confirm_password" class="form-control pwd" required/>
                <label class="form-label" for="confirm_password">Confirm Password</label>
                <br>
                <input style="width: 15px; height: 15px;" type="checkbox" onclick="myFunction()">Show Password
            </div>

            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
    </div>
    {% elif action == 'mismatch' %}
    <div class="content">
        <h3>Change password - Naxa App</h3><br>
        <form class="form-signin post-form" action="{% url 'reset_password' uidb64=uidb64 token=token %}"
            method="POST">
            {% csrf_token %}
            <h5 style="color: red;">Your passwords do not match! Please try again.</h5>
            <div class="form-group form-outline mb-4">
                <input type="password" name="new_password" id="new_password" class="form-control pwd" required />
                <label class="form-label" for="new_password">New Password</label>
            </div>

            <div class="form-group form-outline mb-4">
                <input type="password" name="confirm_password" id="confirm_password" class="form-control pwd" required />
                <label class="form-label" for="confirm_password">Confirm Password</label>
                <br>
                <input style="width: 15px; height: 15px;" type="checkbox" onclick="myFunction()">Show Password
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
    </div>
    {% elif action == 'invalid_link' %}
    <h5>This link is invalid or already used. Please request a new one.</h5>
    {% elif action == 'success' %}
    <h5>Passoword changed successfully. You can now login to Naxa app.</h5>
    {% endif %}

</body>
<script>
    function myFunction() {
            var x = document.getElementById("new_password");
            var y = document.getElementById("confirm_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
</script>

</html>
