{% autoescape off %}
<h4>Hello {{ user }},</h4><br>

Naxa App has received a request to reset the password for your account.<br>
If you did not request to reset your password, please ignore this email.
<br>
<br>
<p>
    <a target="_blank"
        style="text-decoration:none; background-color: #76ff00; text-align: center; border: black 1px solid; color: #fff; padding:5px 5px; display:block;"
        href="{{ domain }}{% url 'reset_password' uidb64=uid token=token %}">
        <strong>Reset Password Now</strong></a>
</p>
<br>
</br>
{% endautoescape %}
<p>Best Regards, <br>
<b>Naxa App</b><br>
</p>
